<ul class="container">
    <h2>Carritos de Compras</h2>
    {{#each carts}}
    <li>
        <div class="cart">
            <p class="cart__id">ID: {{id}}</p>
            <p>Tipos de productos: {{quantity}}</p>
            <a href="/api/cart/{{id}}">Ver</a>
        </div>
        {{/each}}
        <a href="/api/products">Volver</a>
    </li>
</ul>